CompileFlags:
  # Compiler: clang++.exe
  Add:
    - -masm=intel
    - -march=native
    - -O0
    - -g
    - -Wall
    - -Wextra
    - -pedantic
    - -Werror
    - -Wcast-align
    - -Wconversion
    - -Wno-sign-conversion
    - -Wpointer-arith
    - -Wshadow
    - -Wreturn-type

Index:
  Background: Skip

Diagnostics:
  Suppress: builtin_definition
  UnusedIncludes: None


InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
